---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

<p class="pub__legend">(*: equal contribution, &dagger;: equal advisory contribution)</p>

{% assign all_pubs = site.publications | sort: "date" | reverse %}

<section class="pub__section">
  {% for post in all_pubs %}
    {% include archive-single-pub.html %}
  {% endfor %}
</section>



